# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: Python, SQL, and R

Some of the commonly used libraries used by Data Scientists include: sklearn, seaborn, tensorflow, matplotlib, and pandas

|Data Science Tools|
| --- |
|Jupyter Notebook|
|R Studio|
|Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
eval = (3*4)+5
print(eval)
print(eval==17)

17
True

In [2]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 60)

3.3333333333333335

**Objectives:** List popular languages for Data Science.

*   Python
*   SQL
*   R

## Author
Nabeel Bacchus